.logo {
    font-size: 3em;
}
.main {

}
.details-container {

}
.detail-image {

}
.details-title {
    display: block;
}
.thumbnails-list {
    list-style: none;
}
.thumbnails-item {

}
.thumbnails-anchor {

}
.thumbnails-image {

}
.thumbnails-title {
    display: block;
}