@font-face {
    font-family: lakeshore;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}

@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 13vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.385);
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    margin: 0;
}

.logo {
    font-size: 2em;
    background-color: goldenrod;
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.details-frame {
    position: relative;
}

.details-image {
    width: 85vw;
    height: 55vw;
    border-radius: 25%;
}

.details-title {
    display: block;
    font-family: airstream;
    font-style: normal;
    background-color: darkkhaki;
    position: absolute;
    font-size: 2em;
    left: 1vw;
    bottom: 3vw;
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;
}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px black;
    border-radius: 25%;
    overflow: hidden;
}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: darkkhaki;
}

.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}

@media (min-width: 560px) {

    :root {
        --thumbnails-img-width: 10vw;
        --thumbnails-img-height: 6.5vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.32);
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }

    .details-image {
        width: 60vw;
        height: 37.5vw;
    }

    .details-title {
        font-size: 1.5em;
        left: 1vw;
        bottom: 2vw;
    }
    
    .details-container {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .thumbnails-title {
        font-size: 1.6vw;
    }
}

@media (min-width: 900px) {

    :root {
        --thumbnails-img-width: 9.25vw;
        --thumbnails-img-height: 6vw; 
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.32);
    }

    .thumbnails-list {
        max-height: 83vh;
        padding-right: 3vw;
        margin-top: 5vh;
    }

    .details-image {
        width: 55vw;
        height: 34vw;
    }

    .details-title {
        font-size: 1.5em;
        bottom: 2vw;
    }

    .thumbnails-title {
        font-size: 1.6vw;
    }
}